!!!
%html
  %head
    %meta{:charset =>"UTF-8"}
    %title= content_for?(:title) ? yield(:title) : "we love KPT"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag :application, "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          %a.brand{href: '/'}
            we <i class="icon-heart"></i> KPT
          .nav-collapse
            %ul.nav
              %li
                = link_to 'projects', projects_path
    <a href="https://github.com/willnet/we-love-kpt"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
    .container
      = flash_messages
      = yield
